<!doctype html>
<html data-ng-app="app" data-ng-controller="mainController as vm">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="ISO-8859-1">
<title>{{vm.title}}</title>
<!-- css -->
<link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css"></link>
<link rel="stylesheet" href="css/style.css"></link>

<script src="jquery/dist/jquery.min.js"></script>
<script src="angular/angular.min.js"></script>
<script src="angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="bootstrap/dist/js/bootstrap.min.js"></script>

<script src="app.js"></script>
<!-- controller -->
<script src="main-controller.js"></script>
<script src="lamps-controller.js"></script>
<script src="doors-controller.js"></script>
<script src="gates-controller.js"></script>
<script src="my-account-controller.js"></script>
<script src="dashboard-controller.js"></script>
</head>
<body >
<!--body content-->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Smart-Home</a>
    </div>
     <div class="collapse navbar-collapse" id="myNavbar">
     <ul class="nav navbar-nav">
	  <li id="home" class="active"><a href="" data-ng-click="vm.eventHome()">Home</a></li>
	  <li id="lamps"><a href="" data-ng-click="vm.eventLamps()">Lamps</a></li>
	  <li id="gates"><a href="" data-ng-click="vm.eventGates()">Gates</a></li>
	  <li id="doors"><a href="" data-ng-click="vm.eventDoors()">Doors</a></li>
	  <li id="myaccount"><a href="" data-ng-click="vm.eventMyAccount()">My Account</a></li>
	</ul>
     </div>
  </div>
</nav>
<div class="container">
    <div data-ui-view></div>
</div>


</body>
</html>